extends layout

block content
  .container
    h3.bordered #{w.region} / #{w.realm} / guild: #{w.name} / members: #{w.members.length}
    div History available: #{h.length}
    .columns.sixteen.arial_narrow16.txt_center.margin_bot20
      if w.members
        each char in w.members
          span(style="float:left")
            a(href='/view/member/#{w.region}/#{w.realm}/#{char.character.name}')= char.character.name
            &nbsp;
      else
        h3 No members found
      hr
      #{JSON.stringify(w)} 