extends layout

block content
  .container
    h3.bordered #{w.region} / #{w.realm} / #{i18n("guild")}: #{w.name}
  .container
    h3.bordered #{i18n("Message")}
    hr
    p !{msg}
  .container
    div
      | #{i18n("View")}: &nbsp;
      a(href='http://'+w.region+'.battle.net/wow/'+w.locale.substring(0,2)+'/guild/'+encodeURIComponent(w.realm)+'/'+encodeURIComponent(w.name)+'/') #{i18n("armory")}
      | &nbsp;
      a(href='http://'+p.region+'.battle.net/api/wow/guild/'+encodeURIComponent(p.realm)+'/'+encodeURIComponent(p.name)+'?fields=members,achievements,news,challenge') #{i18n("api")}
      | &nbsp;
