extends layout

block content
  .container
    h3.bordered #{w.region} / #{w.realm} / guild: #{w.name} / members: #{w.armory.members.length}
    div 
      History available: #{h.length}
    div
      a(href='http://#{w.region}.battle.net/wow/en/guild/#{w.realm}/#{w.name.replace(/ /,"_")}/') View in Armory
    div
      a(href='/feed/#{w.type}/#{w.region}/#{w.realm}/#{w.name}.rss') rss
    .columns.sixteen.arial_narrow16.txt_center.margin_bot20
      if w.armory.members
        each char in w.armory.members
          span(style="float:left")
            a(href='/view/member/#{w.region}/#{w.realm}/#{char.character.name}')= char.character.name
            &nbsp;
      else
        h3 No members found
      hr
      each item in f
        h5 #{item.title}
        div #{item.description}
        div #{item.date_formatted}
        div 
          a(href='#{item.url}') link

      // #{JSON.stringify(w)} 