extends layout

block content
    // Start Container
    .container
      //h3.bordered World of Warcraft Activity Feed
      .divider40.block_mar40.divider
        .columns.eleven
          h5 Recent Updates
          p
            if f
              each item in f
                .item_update
                  h5 
                    a(href='#{item.url}') #{item.title} - 
                    small #{item.date_formatted}
                  span &nbsp; !{item.description}
          .clear
          a.more_link(href='/loaded')
            span More
          .columns.sixteen.arial_narrow16.txt_center
        .columns.five
          h5 Recently Registered Guilds/Characters
          p
            if reg
              ul
              each i in reg
                li 
                  a(href='/view/#{i.type}/#{i.region}/#{i.realm}/#{i.name}') #{i.name} - #{i.realm} (#{i.region})
            else
              h3 Nothing registered yet!
          a.more_link(href='/registered')
            span More
      .clear
        // ClearFix
      p
        strong
          | This site provides an RSS feed of activity for your WoW character and/or guild.
      .clear
        // ClearFix
      h3.bordered What our clients say
      .columns.sixteen.txt_center
        p
          | "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          br
          | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          br
          | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        a(href='#') John Smith
      .clear
        // ClearFix
    // End Container

