extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  .container
    // Start Header Slider
    .offset-by-three
      .ten.columns
        .sample_usage
            img(src='/images/top_slider/slider_image1.jpg')
      .clear
        // ClearFix
    // END Header Slider

    include search_backbone.jade

    // Start Container
    .container
      //h3.bordered World of Warcraft Activity Feed
      .divider40.block_mar40.divider
        .columns.sixteen
          h5 #{i18n("Recent Updates")}
          #recent_updates_id.recent_updates
            if f && f.length > 0
              each item in f
                .item_update
                  h5 
                    a(href='#{item.url}') !{item.title}
                  span &nbsp; !{item.description}
                    small &nbsp; #{item.date_formatted}
            else
              div #{i18n("No recent updates :(")}
                br
          .clear
          a.more_link(href='/everyone')
            span #{i18n("More")}
          .columns.sixteen.arial_narrow16.txt_center
      .clear
        // ClearFix
      h3.bordered #{i18n("What's it all about ...")}
      .columns.sixteen.txt_center
        p
          | #{i18n("This site provides an RSS feed of activity for your WoW character and/or guild.")}
          | #{i18n("The feed can be used to produce a twitter feed or facebook page updates. Or just viewed in")}
          | #{i18n("an RSS reader, like Google Reader.")}
          if stats
            | #{i18n(" Currently tracking activity for %s guilds and %s characters", stats.num_guilds, stats.num_chars)}
      .clear
        // ClearFix
    // End Container

