//if lt IE 7
  html.ie.ie6(lang='en')
//if IE 7
  html.ie.ie7(lang='en')
//if IE 8
  html.ie.ie8(lang='en')
// [if (gte IE 9)|!(IE)] <!
script(type='text/javascript').
  function charImgError(image){
  image.onerror = ""
  image.src = "http://eu.battle.net//wow/static/images/2d/avatar/1-1.jpg"
  return true;
  }
html(lang='en')
  // <![endif]
  head
    //
    //   Basic Page Needs
    //    ==================================================
    meta(charset='utf-8')
    title #{i18n("WoW Activity Feed")}
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name="google-site-verification", content="aSXLarDjtjGxv6pLFq0tOkpkQduv3DjaAVYCkfkRNaI")
    //
    //   Mobile Specific Metas
    //    ==================================================
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
    //   CSS
    //    ==================================================
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/fonts/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/stimenu.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
    //   Favicons
    //    ==================================================
    link(rel='icon', href='/favicon.ico')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/apple-touch-icon-114x114.png')

    block htmlhead
  body

    //   JS
    //    ==================================================
    script(type='text/javascript', src='/js/jquery-1.7.1.min.js')
    script(src='/js/tabs.js')
    script(type='text/javascript', src='/js/jquery.mobile.customized.min.js')
    script(type='text/javascript', src='/js/jquery.easing.1.3.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='/js/jquery.iconmenu.js')

    //
    //   Primary Page Layout
    //    ==================================================
    // Delete everything in this .container and get started on your own site!
    header
      .header_block
        if locales
            nav.header_langs
              ul.header_langs
                each locale in locales
                    li(title="#{locale.substring(3,5).toLocaleUpperCase()}")
                        if locale == i18n_locale()
                            span.current_locale #{locale.substring(0,2).toLocaleUpperCase()}
                        else
                            a(href=root_url+locale) #{locale.substring(0,2).toLocaleUpperCase()}
        nav.head_nav
          ul.mainmenu
            li
              a(href='/everyone/'+i18n_locale()) #{i18n("All Updates")}
            li
              a(href='/maxlevels/'+i18n_locale()) #{i18n("Max Levels!")}
            //- li
            //-   a(href='/debug/armory_load') Armory!
            //- li
            //-   a(href='/') Search
            //- li
            //-   a(href='/about') About
        .logo
          a(href='/'+i18n_locale())
            span #{i18n("WoW")}
            | #{i18n("Feed")}

    block content

    // Footer
    footer
      .footer
        .copy #{i18n("Copyright")} © 2012-3
        .social
          ul
            li
              a.soc_text(href='https://webtranslateit.com/en/projects/6337-Wow-activity-/project_locales') #{i18n("Other Langs?")}
            li
              a.soc_github(href='http://github.com/kimptoc/wowactivityfeed')
            li
              a.soc_rss(href='/feed/all.rss')
            li
              a.soc_facebook(href='http://fb.me/wowactivity')
            li
              a.soc_twitter(href='http://twitter.com/WowActivityFeed')
            li
              a.soc_gratipay(href='https://gratipay.com/WowActivity/')
        .clear
          // ClearFix
    // /Footer
    //
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(type='text/javascript', src='/js/respond.src.js')
    script(type='text/javascript', src='/js/script.js')
    script(type='text/javascript').
      jQuery(function(){
        jQuery('#sti-menu').iconmenu();
      });

    block content_footer

    include includes/wowhead.pug
    include includes/uservoice.pug
    include includes/google_analytics
    //- include includes/github.pug

    //
    //   End Document
    //  ==================================================
