extends layout

block content
  .container
    h3.bordered Loaded
    hr
    if f
      each item in f
        .item_update
          h5 
            a(href='#{item.url}') !{item.title}
          span &nbsp; !{item.description}
            small &nbsp; #{item.date_formatted}


//    hr
//    #{JSON.stringify(colls)}