extends layout

block content
  .container
    h3.bordered Loaded
    hr
    if colls
      ul
      each c in colls
        li
          a(href='/view/#{c.type}/#{c.region}/#{c.realm}/#{c.name}') #{c.name} (#{c.type}, #{c.region}, #{c.realm})
    hr
    #{JSON.stringify(colls)}