extends layout

block content
  .container
    h3.bordered #{p.region} / #{p.realm} / member: #{w.name}, level: #{w.armory.level}
    div History available: #{h.length}
    if w.guild 
      div 
        Guild: a(href='/view/guild/#{w.region}/#{w.realm}/#{w.armory.guild.name}')= w.armory.guild.name 
    div 
      a(href='http://#{p.region}.battle.net/wow/en/character/#{p.realm}/#{p.name}/simple') View in Armory
    div
      a(href='/feed/#{w.type}/#{w.region}/#{w.realm}/#{w.name}.rss') rss
    hr
    each item in f
      h5 #{item.title}
      div #{item.description}
      div #{item.date}
      div 
        a(href='#{item.url}') link
    hr
    each hist in h
      div CHANGE: #{hist.lastModified} : #{JSON.stringify(hist.whats_changed)}
    hr
    // #{JSON.stringify(w)} 