extends layout

block content
  .container
    h3.bordered #{p.region} / #{p.realm} / #{i18n("member")}: #{w.name}
  .container
    h3.bordered #{i18n("Message")}
    hr
    p !{msg}
  .container
    div
      | #{i18n("View")}: &nbsp;
      a(href='https://'+p.region+'.battle.net/wow/'+w.locale.substring(0,2)+'/character/'+encodeURIComponent(p.realm)+'/'+encodeURIComponent(p.name)+'/simple') #{i18n("armory")}
      | &nbsp;
      a(href='https://'+p.region+'.battle.net/api/wow/character/'+encodeURIComponent(p.realm)+'/'+encodeURIComponent(p.name)+'?fields=achievements,guild,feed,hunterPets,professions,progression,pvp,quests,reputation,stats,talents,titles,items,pets,petSlots,mounts&locale='+w.locale) #{i18n("api")}
      | &nbsp;
