extends layout

block content
  .container
    h3.bordered #{p.region} / #{p.realm} / member: #{w.name}, level: #{w.level}
    div History available: #{h.length}
    if w.guild 
      div 
        Guild: a(href='/view/guild/#{w.region}/#{w.realm}/#{w.guild.name}')= w.guild.name 
    div 
      a(href='http://#{p.region}.battle.net/wow/en/character/#{p.realm}/#{p.name}/simple') View in Armory
    hr
    #{JSON.stringify(w)} 