extends layout

block content
  .container
    h3.bordered Registered
    hr
    if reg
      ul
      each i in reg
        li 
          a(href='/view/#{i.type}/#{encodeURIComponent(i.region)}/#{encodeURIComponent(i.realm)}/#{encodeURIComponent(i.name)}/#{encodeURIComponent(i.locale)}') #{i.name} / #{i.type} - #{i.realm} (#{i.region}-#{i.locale})
            small last viewed:[#{i.updated_at}]
    else
      h3 Nothing registered yet!
