extends layout

block content
  .container
    h3.bordered Registered
    hr
    if reg
      ul
      each i in reg
        li 
          a(href='/view/#{i.type}/#{escape(i.region)}/#{escape(i.realm)}/#{escape(i.name)}') #{i.name} / #{i.type} - #{i.realm} (#{i.region}) 
            small last viewed:[#{i.updated_at}]
    else
      h3 Nothing registered yet!
