doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
    channel
        title= title
        link= site_url
        atom:link(href='#{feed_url}', rel='self', type='application/rss+xml')
        description= description
        language en-US
        if feed.length
            lastBuildDate= new Date(feed[0].date).toUTCString()
        each entry in feed
            item
                title= entry.title
                link= entry.url
                description
                    | <![CDATA[
                    | !{entry.description}
                    | ]]>
                pubDate= new Date(entry.date).toUTCString()
                guid(isPermaLink='false') !{entry.guid}