script(type='text/template',id='search-template')
  div 
    .offset-by-two
      .search_box
        .fourteen.columns
          form
            input#search_text(type='text', placeholder='#{i18n("Search for a character or guild")}', autofocus)

            select#realm_region
              option(value="") #{i18n("[select a realm/region]")}
              <% _.each(realms, function(realm) { %>
              | <option id="<%= realm._id %>" data-realm="<%= realm.name %>" data-region="<%= realm.region %>"> <%= realm.name %> (<%= realm.region %>)</option>
              <% }); %>
              //- if realms
              //-   each r in realms
              //-     option #{r.name} (#{r.region})

              input#search_now(type="submit",name="SUBMIT",value="#{i18n('Search')}")

    .offset-by-three
        .ten.columns
          #search_results_msg
            <% if (results_complete) { %>
            | #{i18n("Search complete, total found:")} <%= results.length %> (#{i18n("took")} <%= elapsed_seconds %> #{i18n("seconds")})
            <% } else if (searching) { %>
            | #{i18n("Searching ...")}
            <% } %>
          #search_results
            <% _.each(results, function(item) { %>
            .search_result_item
              .clear
              | <h5><a href="<%= item.waf_url %>"><%= item.name %></a> <small>(<%= item.wow_type_locale %>)</small></h5>
              | <% if (item.type === 'guild') { print(' ('+item.wow_type_locale+')'); } %>
              | <% if (item.armory.guild) { print('#{i18n("Member of")} '+item.armory.guild.name); } %>
              | &nbsp; #{i18n("Level")}: <%= item.armory.level %>
              | &nbsp; - <%= item.realm %> / <%= item.region %>
              | &nbsp; <a href="<%= item.waf_rss_url %>">#{i18n("rss")}</a>
              | &nbsp; <a href="<%= item.armory_link %>">#{i18n("armory")}</a>
              | &nbsp; <a href="<%= item.armory_api_link %>">#{i18n("api")}</a>
              .search_result_achievements
                <% _.each(_.first(item.waf_feed,3), function(feed_item) { %>
                .clear
                div <%= feed_item.description %>
                  small &nbsp; <%= feed_item.date_formatted %>
                <% }); %>
            <% }); %>

